body {
    font-family: Roboto, sans-serif;
}
h3 {
    text-align: center;
}
.container {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 0 auto;
}
label.mdc-text-field {
    width: 100%;
}
button.mdc-button {
    width: 100%;
    margin-top: 15px;
}